# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# VS Code
.vscode/

# Rider
.idea/

# secrets
secrets.json
appsettings.Development.json

# Other
*.vspscc
*.vssscc
.vs/
ToDoListApp.sln.DotSettings.user

# Mac files
.DS_Store

# Thumbnails
Thumbs.db
